@font-face {
   font-family: 'centurygothic_bold';
   font-display: swap;
   src: url('file:///C:/Users/chakr/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-09-18_111903/fonts/centurygothic_bold/font.ttf');
}
